In [3]:
import pandas as pd
import numpy as np

In [4]:
dff = pd.read_csv("Customer Flight Activity.csv")
dfl = pd.read_csv("Customer Loyalty History.csv")

In [15]:
pd.set_option("display.max_columns", None)

# 1. Exploración y limpieza
## 1.3. Une los dos conjuntos de datos de la forma más eficiente

In [20]:
df = pd.merge(dff, dfl, on="Loyalty Number", how="left")
df.shape

(405624, 25)

In [21]:
df.head()

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed,Country,Province,City,Postal Code,Gender,Education,Salary,Marital Status,Loyalty Card,CLV,Enrollment Type,Enrollment Year,Enrollment Month,Cancellation Year,Cancellation Month
0,100018,2017,1,3,0,3,1521,152.0,0,0,Canada,Alberta,Edmonton,T9G 1W3,Female,Bachelor,92552.0,Married,Aurora,7919.20,Standard,2016,8,NaN,NaN
1,100102,2017,1,10,4,14,2030,203.0,0,0,Canada,Ontario,Toronto,M1R 4K3,Male,College,NaN,Single,Nova,2887.74,Standard,2013,3,NaN,NaN
2,100140,2017,1,6,0,6,1200,120.0,0,0,Canada,British Columbia,Dawson Creek,U5I 4F1,Female,College,NaN,Divorced,Nova,2838.07,Standard,2016,7,NaN,NaN
3,100214,2017,1,0,0,0,0,0.0,0,0,Canada,British Columbia,Vancouver,V5R 1W3,Male,Bachelor,63253.0,Married,Star,4170.57,Standard,2015,8,NaN,NaN
4,100272,2017,1,0,0,0,0,0.0,0,0,Canada,Ontario,Toronto,P1L 8X8,Female,Bachelor,91163.0,Divorced,Star,6622.05,Standard,2014,1,NaN,NaN

In [25]:
df.duplicated().sum()

1864

In [ ]:
#month y year pasar a int (sin decimales)

In [31]:
df = df.drop_duplicates()
print(df.duplicated().sum())
print(df.shape)

0
(403760, 25)

In [48]:
(df.isnull().sum()*100/df.shape[0]).round(2).sort_values(ascending=False)

Cancellation Month             87.70
Cancellation Year              87.70
Salary                         25.33
Postal Code                     0.00
Enrollment Month                0.00
Enrollment Year                 0.00
Enrollment Type                 0.00
CLV                             0.00
Loyalty Card                    0.00
Marital Status                  0.00
Education                       0.00
Gender                          0.00
Loyalty Number                  0.00
Year                            0.00
Province                        0.00
Country                         0.00
Dollar Cost Points Redeemed     0.00
Points Redeemed                 0.00
Points Accumulated              0.00
Distance                        0.00
Total Flights                   0.00
Flights with Companions         0.00
Flights Booked                  0.00
Month                           0.00
City                            0.00
dtype: float64

In [ ]:
df['Salary'].fillna(df['Salary'].median(), inplace=True)